<!DOCTYPE html>
<html>
<head>
  <title>Paul Benigeri</title>


  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900,400italic,700italic" rel="stylesheet" type="text/css">
  <script type="text/javascript">
WebFontConfig = { fontdeck: { id: '27778' } };

(function() {
  var wf = document.createElement('script');
  wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
  wf.type = 'text/javascript';
  wf.async = 'true';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(wf, s);
})();
</script>
</head>
<body>

  <%= render 'layouts/header' %>
  <div id="avgrundStuffHolder">
  </div>
  <div class="content">
    <% if notice || alert %>
    <div class="notifications">
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert"><%= alert %></div>
      <% end %>
    </div>
  <% end %>
  <%= yield %>
  </div>
  <div class="avgrund-cover"></div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37332008-1']);
    _gaq.push(['_setDomainName', 'benigeri.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

<a href="https://github.com/benigeri/benigerisite"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
</body>
</html>
