<!DOCTYPE html>
<html>
<head>
  <title>Paul Benigeri</title>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>
  <div id="avgrundStuffHolder">
  </div>
  <div class="content">
    <% if notice || alert %>
    <div class="notificationsContainer">
      <div class="notifications">
        <% if notice %>
          <div class="notice"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert"><%= alert %></div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= yield %>
  </div>
  <div class="avgrund-cover"></div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37332008-1']);
    _gaq.push(['_setDomainName', 'benigeri.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
